<div class='breadcrumb'>
<a href='/swlab/'>root</a> / <a href='/swlab/../'>..</a> / <a href='/swlab/../templates/'>templates</a> / </div>
<div class='directory-list'>
<p><a href='/swlab/../templates'><span class='file-icon'>📁</span>Parent Directory</a></p>
<table>
<tr><th>Name</th><th>Type</th><th>Size</th><th>Last Modified</th></tr>
<tr><td><a href='https://github.com/ashuwhy/swlab/blob/main/../templates/footer.html' target='_blank'><span class='file-icon'>📄</span>footer.html</a></td><td>File</td><td>95 B</td><td>2025-02-24 17:50:55</td></tr>
<tr><td><a href='https://github.com/ashuwhy/swlab/blob/main/../templates/header.html' target='_blank'><span class='file-icon'>📄</span>header.html</a></td><td>File</td><td>302 B</td><td>2025-02-24 17:50:55</td></tr>
<tr><td><a href='https://github.com/ashuwhy/swlab/blob/main/../templates/style.css' target='_blank'><span class='file-icon'>📄</span>style.css</a></td><td>File</td><td>904 B</td><td>2025-02-24 17:50:55</td></tr>
</table>
</div>
