#nav-clocks {
    margin-top: 4px;
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: bold;
    padding: 4px;
    display: flex;
    flex-direction: column;
    border: 2px solid #a2a793;
    border-radius: 5px;
}

#server-clock {
    margin-bottom: 2px;
    background-color: #dbe9ff; /* Server time background color */
    color: #061195; /* Server time text color */
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

#client-clock {
    background-color: #ccf9e2; /* Client time background color */
    color: #2d1146; /* Client time text color */
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

span.timeInfo {
    color: rgb(163,38,56);
}